@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");


$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyanHalf: hsla(178, 100%, 50%, 50%);

$mainBG: hsl(217, 54%, 11%);
$cardBG: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

body {
	background-color: $mainBG;
	font-size: 18px;
	font-weight: 300;
}

main {
	font-family: 'Outfit', sans-serif;

	background-color: $cardBG;
	color: $white;

	border-radius: 20px;
	box-shadow: 0 0 25px -10px black;

	margin: 25px auto;
	padding: 25px;
	padding-bottom: 33px;
	width: 325px;

	#img-container {
		border-radius: 10px;
		margin-bottom: 20px;
		height: 325px;

		img {
			border-radius: inherit;
			width: 100%;
			height: 100%;
			transition: opacity 0.3s;
		}

		#view {
			position: relative;
			border-radius: inherit;
			background-repeat: no-repeat;
			background-position: 50%;
			height: 320px;
			top: -100%;
			transition: background-color 0.3s;
		}
		#view:hover {
			background-image: url("./images/icon-view.svg");
			background-color: $cyanHalf;
			cursor: pointer;
		}
	}
	
	#title {
		font-weight: 600;
		transition: color 0.3s;
	}
	#title:hover {
		color: $cyan;
		cursor: pointer;
	}

	p {
		color: $softBlue;
	}

	#info {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		margin: 25px 0;
		
		#price {
			color: $cyan;
			font-weight: 400;
		}

		#time {
			color: $softBlue;
		}
	}

	hr {
		border-color: $line;
		border-top: 1px solid $line;
	}

	footer {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
		color: $softBlue;

		img {
			display: inline;
			width: 35px;
			height: 35px;
			border: 1px solid $white;
			border-radius: 25px;
			margin-top: 3px;
		}

		div {
			margin: 10px 0 0 18px;

			span {
			color: $white;
			transition: color 0.3s;
			}
			span:hover {
				color: $cyan;
				cursor: pointer;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	main {
		box-shadow: none;
	}
}




.eth {
	display: inline-block;
	width: 11px;
	height: 18px;
	margin: 0 7px -2px 0;
	background-image: url("./images/icon-ethereum.svg");
}

.clock {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 4px -2px 0;
	background-image: url("./images/icon-clock.svg");
}